* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* TODO: Make these in line with React principles 
  i.e. remove and retain functionality */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.expand {
  margin-top: 7vh;
}
